
<div class="vertical">
    <div class="container vertical">
        <div class="grid-display">
            <form [formGroup]="filterForm" class="container" (ngSubmit)="search()">
            <select class="custom-input" (change)="changeLabel($event); search()" formControlName="label" name="filter" placeholder="Search in tags...">
                <option *ngFor="let label of availableLabels" [ngValue]="label">{{label}}</option>
            </select>
            <label for="showSub">Show sub only</label>
            <input type="checkbox" [checked]="subFilterEnabled" (change)="subFilterEnabled = !subFilterEnabled"  name="showSub"/>
            </form>
        </div>
        <div>
            <h3 style='margin-left: 20px' *ngIf="eventCount > 0">{{eventCount}} event(s) found</h3>
            <h3 style='margin-left: 20px' *ngIf="eventCount == 0">No event found</h3>
            <h3 style='margin-left: 20px' *ngIf="eventCount == -1">Searching...</h3>
        </div>
   
    </div>
    <div class="grid-display">
        <div class="container grid-display" *ngIf="isLoaded">
            <ng-container *ngFor="let event of events">
            <app-card  [event]="event" [subscribed]="isSubbed(event)" (subEmitter)="hasSubbed($event, event)" *ngIf="subFilter(event)"></app-card>
            </ng-container>
        </div>
    </div>
    <div class="container clickable" (click)="loadMore()" *ngIf="hasMore">➕ Load more</div>
</div>